body {
   /* background-color: #2C51D9;*/
}

.logo {
    width: 3em;
}

.home-image {
    height: 28em;
    
}

.right_arrow {
    width: 4em;
    z-index: -1;
}

a {
    text-decoration: none;
    color: #020202;
}

a:visited {
    text-decoration: none;
  }

textarea.form-control {
   border: 0px solid #020202;
   border-radius: 8.76px;
   margin-left: 0px;
   padding: 3px;
   background-color: #e2e2e2;
}

#result {
    background-color: rgb(136, 230, 253);
}
h1 {
    font-size: 4em;
    font-family: 'Sora', sans-serif;
}

.info-area {
    display: flex;
}
b {
    color: #84CBFF;
}
.down-arrow {
   height: 1em;
}

.btn-dark {
    border-radius: 8.76px;
}

.icon-tool {
    width: 5em;
}

.welcome-header {
    max-width: 960px;
}

.card-tool-text-p {
    background: #84CBFF;
    width: 12em;
    height: 202.9px;
    border-radius: 8.76px;
    padding: 9px;
    cursor: pointer;
    margin-bottom: 1em;
}
.card-tool-text-p:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s ease-in-out;
}
.card-tool-text-p:after {
    transition: opacity 0.3s ease-in-out;
}
.card-tool-text-p>p {
    color:rgb(255, 255, 255);
}

.card-tool-p {
    background: rgb(107, 180, 229);
    width: 18em;
    border-radius: 8.76px;
    padding: 9px;
    cursor: pointer;
    margin-bottom: 1em; 
    align-content: center;
    text-align: center;
    color: white;
}

.card-tool-p:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.3s ease-in-out;
}

.current_method {
    background: #cae5f8;
    border: 0px solid;
    border-radius: 8.76px;
    width: 14em;
    position: relative;
    display: inline-block;
}

.text-green {
    color: #87f8b2
}

.text-deep-cove {
    color: #13088b;
}

.text-orange {
    color: #f0932b;
}
